    <header>
        <div class="row">

            <div class="col-12 col-sm-4">
                <a href="/">
                    <div id="portrait-mavs"></div>
                </a>
            </div>
            <div class="col-8 col-sm-5"><h1>Hi, I'm Matthias von Steimker.</h1>
                <p>Thinker and coder. I study at the <a href="http://www.uni-koblenz.de" target="_blank">University of Koblenz</a>, Germany (MSc of Computational Visualistics) and in the near future I'm prepared for the great adventures of being a computer scientist.</p></div>
        </div>
    </header>