    <header>
        <div class="row">

            <div class="col-12 col-sm-4">
                <a href="/">
                    <div id="portrait-mavs"></div>
                </a>
            </div>
            <div class="col-12 col-sm-8"><h1>Hi, I'm Matthias von Steimker.</h1>
                <p>Thinker and coder. I am studing at the <a href="http://www.uni-koblenz.de" target="_blank">University of Koblenz</a>, Germany (MSc of Computational Visualistics).</p></div>
        </div>
    </header>